table {
  overflow: auto;
  background: none;
}

//.mat-row, .mat-header-row {
//  min-width: 1400px;
//}

.mat-cell, .mat-header-cell {
  min-width: 200px;
}

.mat-column-hours {
  min-width: 80px;
}

.mat-column-date {
  min-width: 120px;
}

.table-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}


