<div class="page-content">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h4 class="subheading">Projects</h4>

      <div class="table-container">
        <table mat-table [dataSource]="projects">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let project"> {{project.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let project"> {{project.name}} </td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let project"> {{project.description}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <button [routerLink]="[ '/project/add' ]" class="add-fab-icon" mat-fab aria-label="Agregar nuevas actividades" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

</div>
