<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Listado de proyectos</h3>
    </div>   
    <div class="col-md-7 align-self-center">
        <a [routerLink]="[ '/project/add']" class="btn waves-effect waves-light btn-primary pull-right">Nuevo Proyecto</a>
    </div>      
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">            
            <div class="card-body">               
                    <div class="table-responsive m-t-40">
                        <table id="proyectTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let project of projects" (click)="router.navigate(['project/add', project.id])" >
                                    <td> {{ project.id }} </td>
                                    <td> {{ project.name }} </td>
                                    <td> {{ project.description }} </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
