.example-sidenav-content {
  height: 100%;
  width: 100%;
}

.example-sidenav {
  padding: 0;
  width: 300px;
}

#main-wrapper {
  padding: 40px 10px;
  background-color: #fafafa;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 4;
}

.mat-table {
  background: transparent;
}


.bottom-nav {
  height: 56px;
  background: #e0e0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.21);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 0;

  .mat-button-toggle-group {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    mat-button-toggle {
      width: 100%;
      height: 56px;
      border-left: none;
      color: #4E4D4D;

      button {
        height: 56px;
        background: #f8f8f8;
        outline: none;
      }

      .mat-button-toggle-label-content {
        padding: 4px 12px;
        height: 56px;
        line-height: 26px;
        font-size: 14px;
      }


      &.mat-button-toggle-checked {
        color: #3F9CBC;
        font-weight: 600;

        img {
          width: 20px;
          display: block;
          margin: 0 auto 3px;
          opacity: 1;
          filter: grayscale(0);
        }

        mat-icon {
          color: #3F9CBC;
          opacity: 1;
        }
      }
    }
  }

  img {
    width: 20px;
    display: block;
    margin: 0 auto 3px;
    opacity: .64;
    filter: grayscale(1);
  }

  mat-icon {
    display: block;
    margin: 0 auto;
    opacity: .5;
    color: black;
    font-size: 22px;
  }

  .activities-button {
    mat-icon {
      font-size: 30px;
      height: 28px;
      margin-top: -4px;
    }
  }
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
  border-left: none;
}

