<div id="main-wrapper">
  <mat-toolbar>
    <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Fibo Invoicing</span>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize hasBackdrop="true">
    <mat-drawer #drawer class="example-sidenav" mode="side" disableClose="false">
      <mat-action-list>
        <button (click)="drawer.close()" [routerLink]="[ '/invoice/list' ]"  mat-list-item >
          <mat-icon mat-list-icon>access_time</mat-icon>
          Horas
        </button>
        <button (click)="drawer.close()" mat-list-item><mat-icon mat-list-icon>list_alt</mat-icon>
          Proyectos
        </button>
      </mat-action-list>
    </mat-drawer>

    <div class="example-sidenav-content">
      <div class="page-wrapper">
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

  </mat-drawer-container>
</div>
