<aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav>
                <ul>
                    <li>
                        <a class="has-arrow waves-effect waves-dark">
                            <i class="mdi mdi-av-timer"></i>
                            <span class="hide-menu">
                                Invoice
                            </span>
                        </a>
                        <ul>
                            <li> <a [routerLink]="[ 'invoice/hours' ]"> Horas </a> </li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark">
                            <i class="mdi mdi-file-document"></i>
                            <span class="hide-menu">
                                Projectos
                            </span>
                        </a>
                        <ul>
                            <li> <a [routerLink]="[ 'project/add' ]"> Agregar </a> </li>
                            <li> <a [routerLink]="[ 'project/list' ]"> Listado </a> </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
