/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: "TT Commons", "Helvetica Neue", sans-serif !important; }


.mat-form-field {
  width: 100%;
}

form {
  margin-top: 22px;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/font/TTCommons-Medium.woff2') format('woff2'),
  url('./assets/font/TTCommons-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/font/TTCommons-Regular.woff2') format('woff2'),
  url('./assets/font/TTCommons-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/font/TTCommons-Light.woff2') format('woff2'),
  url('./assets/font/TTCommons-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/font/TTCommons-Bold.woff2') format('woff2'),
  url('./assets/font/TTCommons-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
