/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: "TT Commons", "Helvetica Neue", sans-serif !important; }

#main-wrapper {
  height: calc(100% - 56px);
  overflow-y: auto;
}

.mat-form-field {
  width: 100%;
}

form {
  margin-top: 22px;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/font/TTCommons-Medium.woff2') format('woff2'),
  url('./assets/font/TTCommons-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/font/TTCommons-Regular.woff2') format('woff2'),
  url('./assets/font/TTCommons-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/font/TTCommons-Light.woff2') format('woff2'),
  url('./assets/font/TTCommons-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url('./assets/font/TTCommons-Bold.woff2') format('woff2'),
  url('./assets/font/TTCommons-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.subheading {
  margin-bottom: 1.25em;
  color: #727272;
  font-weight: 500;
  line-height: 1.25em;
  font-size: 32px;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, .3);
}

.mat-fab {

  //background: linear-gradient(72.62deg, rgba(126, 61, 176, 0.31) -37.86%, rgba(6, 107, 153, 0.84) -37.84%, rgba(95, 95, 95, 0.77) 107.18%, #00A370 145.81%);
  //background-color: #2358DF;
  background: linear-gradient(25.74deg, rgba(61, 107, 176, 0.31) -37.86%, rgba(6, 107, 153, 0.84) -37.84%, rgba(16, 140, 180, 0.77) 107.18%, #00A370 145.81%);
  &.mat-button-base {
    box-sizing: content-box;
  }
}

.mat-button-base.mat-primary {
  //background-color: #2358DF;
  background: linear-gradient(25.74deg, rgba(61, 107, 176, 0.31) -37.86%, rgba(6, 107, 153, 0.84) -37.84%, rgba(16, 140, 180, 0.77) 107.18%, #00A370 145.81%);
  //background: linear-gradient(72.62deg, rgba(126, 61, 176, 0.31) -37.86%, rgba(6, 107, 153, 0.84) -37.84%, rgba(95, 95, 95, 0.77) 107.18%, #00A370 145.81%);
}

.mat-button-base.mat-flat-button {
  border-radius: 10px;
  font-family: "TT Commons", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  padding-top: 3px;
  height: 43px;
  text-transform: uppercase;
}

.mat-flat-button {
  background: none;
  font-weight: 400;
}

form {
  .mat-flat-button {
    width: 100% !important;
    margin-bottom: 10px;
  }
}
